<!-- IS496: Computer Networks
Course Mini-Project
Name and Netid of each member:
Member 1: chenzhao wang, cw107
Member 2: Zhen Li, zhenli6 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FilmFinder</title>
    <!-- Include jQuery before your index.js file -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to FilmFinder</h1>
        
        <!-- Login form -->
        <div class="form-container">
            <h2>Login</h2>
            <input type="text" id="loginUsername" class="search-input" placeholder="Username"><br>
            <input type="password" id="loginPassword" class="search-input" placeholder="Password"><br>
            <button onclick="login()" class="search-button">Login</button>
        </div>

        <!-- Registration form -->
        <div class="form-container">
            <h2>Register</h2>
            <input type="text" id="registerUsername" class="search-input" placeholder="Username"><br>
            <input type="password" id="registerPassword" class="search-input" placeholder="Password"><br>
            <button onclick="register()" class="search-button">Register</button>
        </div>
    </div>
</body>
</html>
